/* Main layout */

.customLink:hover {
    color: #0275D8;
}
.customLink {
    color: black;
}

/* Transfer view */

.transfer-view {
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.bank-account-view {
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-top: 1.5%;
    padding-bottom: 12%;
}